.poster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 7px;
}

.poster img {
    padding-bottom: 80px;
    padding-top: 40px;
}

.faq {
    background-color: black;
    margin-top: 7px;
    text-align: center;
}

.faq h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

.faq-content {
    width: 800px;
    margin: 0 auto;
}

.accordion-button {
    background-color: #484848;
    color: white;
    font-size: 30px;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.accordion-item {
    box-shadow: none !important;
    border-color: #484848;
    border-radius: 0 !important;
    outline: none !important;
    margin-top: 8px;
    background-color: black;
    text-align: left;
    border-color: black;

}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #484848;
}

.accordion-body {
    margin-top: 4px;
    color: #ffffff;
    background-color: #484848;
}

.user-register-mid-part {
    margin-top: 50px;
    color: white;
    text-align: center;
    width: 690px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

#user-email {
    font-size: 17px;
}